<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../assets/octagon.svg" type="favicon" sizes="32 * 32"/>
    <title>Gentor</title>
</head>
<body>

<nav>
    <div id="navcontainer">
        <div id="logocontainer">
            <a href="index.html"><img src="../assets/Gentor white.svg" id="GentorLogo"></a>
        </div>
        <div id="actionscontainer">
            <button id="logIn"> <a href="../views/logIn.html"> Log in</a></button>
            <button id="signUp"><a href="../views/signup.html">Sign up</a></button>
        </div>
    </div>
</nav>

<div id="Container">
        <h1>This is Gentor!</h1>
        <h2>
            A tool that you can use in order to generate PERT & GANTT charts 
            <br> to organize your projects and to analyse them efficiently 
            <br> What are you waiting for?
        </h2>
        <button id="getStarted"><a href="./signup.html">Get Started <ion-icon name="arrow-forward-outline"></ion-icon></a></button>
</div>










<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>